body
{
	margin:0;
	padding:0;
	background:url(log_image.jpeg) no-repeat;
	background-style: cover;
	background-position: center;
	font-family:sans-serif;
}
.loginbox{
	width:320px;
	height:420px;
	background:#000;
	color:#FFF;
	top:75%;
	left:50%;
	position:absolute;
	transform:translate(-50%,-50%);
	box-sizing: border-box;
	padding:70px 30px;
	margin-top:150px;
}

.avatar{
	width:100px;
	height:100px;
	border-radius:50%;
	position:absolute;
	top: -50px;
	left:calc(50% - 50px);
	
}

hl
{
	margin: 0;
	padding: 0 0 20px;
	text-align:center;
	font-size:22px;
}
.loginbox p{
	margin:0;
	padding:0;
	font-weight:bold;
}

.loginbox input{
	
	margin-bottom: 20px;
}

.loginbox input[type="text"],input[type="password"]
{
	border:none;
	border-bottom: 1px solid #fff ;
	background-position:center;
	background:transparent;
	outline:none;
	height:20px;
	color:#f00;
	font-size:16px;
	width:100%;
}

#btn
{
	border : none;
	outline:none;
	background:#EB5725;
	color:#f2525;
	font-size:16px;
	border-raduis:5px;
	float:right;
	padding:5px 5px 5px 5px;
}
.loginbox a{
	text-decoration: none;
	font-size:16px;
	line-height: 20px;
	color:#9CC;
}
.loginbox a:hover
{
	color:#ffc107;
}
	